.about-container {
  height: 100vh;
}

.about-skills-container {
  width: 33rem;
}

.about-main-container {
  width: 39rem;
}

@media only screen and (max-width: 768px) {
  div{
    flex-wrap: wrap;
  }
  .about-main-container {
    width: 100%;
  }
  .about-skills-container {
    width: 100%;
  }
  .about-container{
    justify-content: center;
    width: 100%;
  }
}
