<div
  class="about-container home d-flex justify-content-around align-items-center"
>
  <div class="about-main-container d-flex-row">
    <h1>About Me</h1>
    <p>
      Hi, my name is Matthew and my journey in the tech world is driven by a
      profound passion for innovation, technology, and a transformative process
      of bringing concepts to life. I love learning new things, whether that be
      technology-based or something entirely different. I enjoy reading in my
      spare time, exercising, hanging out with friends and family. Pretty huge
      video game fan too.
    </p>
  </div>
  <div class="about-skills-container">
    <h1>Skills</h1>
    <div class="d-flex flex-wrap">
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        HTML
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        JavaScript
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        TypeScript
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        Python
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        React
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        Angular
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        GIT
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        SQLite
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        CSS
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        Tailwind
      </div>
      <div
        class="d-flex bg-secondary py-2 px-3 justify-content-center mb-3 me-3 rounded"
      >
        Bootstrap
      </div>
    </div>
  </div>
</div>
