<div class="project-container">
  <div class="project-header">
    <h1>PROJECTS</h1>
  </div>

  <div class="container text-center">
    <div class="row row-cols-3">
      <div class="col m-auto">
        <h1>Optimistic Weather</h1>
        <p>react - typescript - javascript - sqlite - nodejs</p>
        <p>
          Optimistic Weather provides tailored suggestions for activities, and
          clothing on the current weather forecast, ensuring you make the most
          of every day. Say goodbye to weather-related indecision and hello to
          optimised fun with Optimistic Weather.
        </p>
      </div>
      <div class="col">
        <img
          src="../assets/images/weatherApp.png"
          alt="optimistic-weather-picture"
        />
      </div>
      <div class="col"></div>
      <div class="col">
        <img src="../assets/images/KesKeSay.png" />
      </div>
      <div class="col m-auto">
        <h1>Kes Ke se</h1>
        <p>react - typescript - javascript - sqlite - nodejs</p>
        <p>
          Kes-Ke-Say is a new social media platform. The platform is designed
          for people to connect and share (or even complain) with like-minded
          individuals. It has not been deployed
        </p>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <img src="../assets/images/outfitter.jpg" alt="outfitter" />
      </div>
      <div class="col m-auto">
        <h1>outfitter</h1>
        <p>react - typescript - javascript - sqlite - nodejs</p>
        <p>
          Outfitter is a web app that helps users create and share outfits. It
          randomises clothes that the user has stored on the app to suggest
          outfit ideas and allows users to save and share their favorite
          combinations. Im currently working on this app
        </p>
      </div>
    </div>
  </div>
</div>
