<div class="project-container">
  <div class="project-header">
    <h1>PROJECTS</h1>
  </div>

  <div class="container text-center">
    <div class="row row-cols-3">
      <div class="col m-auto">
        <h1>Optimistic Weather</h1>
        <p>react - typescript - javascript - sqlite - nodejs</p>
        <p>
          Optimistic Weather provides tailored suggestions for activities, and
          clothing on the current weather forecast, ensuring you make the most
          of every day. Say goodbye to weather-related indecision and hello to
          optimised fun with Optimistic Weather.
        </p>
        <a
          href="https://github.com/matthew-nanthameechai/optimisticweather"
          target="_blank"
          >Github</a
        >
        <a href="https://optimisticweather.pushed.nz/" target="_blank"
          >Website</a
        >
      </div>
      <div class="col">
        <img
          src="../../assets/images/weatherApp.png"
          alt="optimistic-weather-picture"
        />
      </div>
      <div class="col"></div>
      <div class="col">
        <img src="../../assets/images/KesKeSay.png" />
      </div>
      <div class="col m-auto">
        <h1>Kes Ke se</h1>
        <p>react - typescript - javascript - sqlite - nodejs</p>
        <p>
          Kes-Ke-Say is a new social media platform. The platform is designed
          for people to connect and share (or even complain) with like-minded
          individuals. It has not been deployed.
        </p>
        <a
          href="https://github.com/matthew-nanthameechai/kes-ke-say"
          target="_blank"
          >Github</a
        >
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <img
          class="recruiter-img"
          src="../../assets/images/recruiter.png"
          alt="recruiter"
        />
      </div>
      <div class="col m-auto">
        <h1>Recruiter</h1>
        <p>react - javascript - python</p>
        <p>
          Recruiter is a prototype we developed at Provoke Solutions 2 day
          Hackathon where we used generative AI to show how it can be used to
          automate the recruitment screening process.The prototype we developed
          uses generative AI that reads the job description, the company info
          and the applicants CV to create tailored questions. This could be used
          to call the applicant and have AI ask the applicant the questions it
          created and transcribe the replies to text.
        </p>

        <a
          href="https://github.com/matthew-nanthameechai/recruiter"
          target="_blank"
        >
          Github</a
        >
        <a
          href="https://www.figma.com/design/OGgPWN2oI3zhTR7z7fsdM8/Untitled?t=MEDu4HQp0O8be0ig-1"
          target="_blank"
          >Design</a
        >
      </div>

      <div class="col"></div>
      <div class="col m-auto">
        <h1>outfitter</h1>
        <p>react - typescript - javascript - sqlite - nodejs</p>
        <p>
          Outfitter is a web app that helps users create and share outfits. It
          randomises clothes that the user has stored on the app to suggest
          outfit ideas and allows users to save and share their favorite
          combinations. Im currently working on this app
        </p>
      </div>
      <div class="col mt-3">
        <img src="../../assets/images/outfitter.jpg" alt="outfitter" />
      </div>
    </div>
  </div>
</div>
