<div class="project-container">
  <div class="project-header">
    <h1>PROJECTS</h1>
  </div>

  <div class="container text-center">
    <div class="row row-cols-3">
      <div class="col m-auto">
        <h1>Optimistic Weather</h1>
        <p>react - typescript - javascript - sqlite - nodejs</p>
      </div>
      <div class="col">
        <img
          src="https://cdn.discordapp.com/attachments/436519510833364992/1234727540568887307/image.png?ex=6631c921&is=663077a1&hm=43e553119c9b915380c21f1ec02e61ca062514bcdd28c6dd7de3ca9c795b3bde&"
          alt="optimistic-weather-picture"
        />
      </div>
      <div class="col"></div>
      <div class="col">
        <img
          src="https://cdn.discordapp.com/attachments/436519510833364992/1234738438067064872/image.png?ex=6631d347&is=663081c7&hm=ca0dfb926f0a8ec7822fb8261f4ef2387c75f21f16e8f94c2dd3d188d38a2e27&"
          alt="kes-ke-sey"
        />
      </div>
      <div class="col m-auto">
        <h1>Kes Ke se</h1>
        <p>react - typescript - javascript - sqlite - nodejs</p>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <img
          src="https://i.pinimg.com/originals/c8/a9/14/c8a91492a31318b9e9a7a3cb420c6f3e.jpg"
          alt="outfitter"
        />
      </div>
      <div class="col m-auto">
        <h1>outfitter</h1>
        <p>react - typescript - javascript - sqlite - nodejs</p>
      </div>
    </div>
  </div>
</div>
<!-- <h3>Kes Ke se</h3>
    <h3>Todo Full Stack</h3>
    <h3>Outfitter</h3> -->
