<nav class="navbar border-bottom bg-transparent">
  <div class="d-flex">
    <a class="nav-link mr-5" href="#">Matthew Nanthameechai</a>
    <span class="nav-link">SOFTWARE DEVELOPER</span>
  </div>

  <div id="navbarNav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">projects,</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">about,</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">contact</a>
      </li>
    </ul>
  </div>
</nav>
