<div class="home d-flex justify-content-around align-items-center">
  <div class="home-info-container">
    <h1>Matthew Nanthameechai</h1>
    <h2>Fullstack & Interactive Developer</h2>
    <h3>
      Kia ora I'm Matthew, welcome to my digital Portfolio. I'm a Wellington
      based NZ Developer. I'm open to work from potential employers or
      collaborators so please reach out!
    </h3>
    <button class="btn btn-primary btn-lg mt-2">
      <a class="nav-link" href="#contact">Get In Touch</a>
    </button>

    <div>
      <a href="https://github.com/matthew-nanthameechai" target="_blank">
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
          alt="github"
        />
      </a>

      <a
        href="https://www.linkedin.com/in/matthew-nanthameechai-1b3aaa267/"
        target="_blank"
      >
        <img
          class="icon"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2Wb7G67EcR44qT3KQLlLzI1Fna_L2lPXfTI1sx8_z2w&s"
          alt="linkedin"
        />
      </a>
    </div>
  </div>
  <div>
    <img
      src="https://cdn.discordapp.com/attachments/436519510833364992/1233390869466320956/image.png?ex=662cec42&is=662b9ac2&hm=d418bf4cfb1f4e47e58434f93558e5326d74ca50a9b60dd8c2e925466cb5b852&"
      alt="picture"
    />
  </div>
</div>
